# SQL Murder Mistery

A crime has taken place and the detective needs your help. The detective gave you the crime
scene report, but you somehow lost it. You vaguely remember that the crime was a murder that
occurred sometime on Jan.15, 2018 and that it took place in SQL City. Start by retrieving the
corresponding crime scene report from the police department’s database.

In [1]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('./data/sql_murder_mystery.db')

In [5]:
query = ''' 
SELECT *
FROM crime_scene_report
WHERE date == 20180115
'''

data =pd.read_sql_query(query, conn)  
data

DatabaseError: Execution failed on sql '
SELECT *
FROM crime_scene_report
WHERE date == 20180115
': no such table: crime_scene_report

In [4]:
import sqlite3

# Conectar a la base de datos SQLite
conn = sqlite3.connect('./data/sql_murder_mystery.db')

cursor = conn.cursor()

# Función para ejecutar y mostrar resultados de una consulta
def execute_query(query):
    cursor.execute(query)
    rows = cursor.fetchall()
    for row in rows:
        print(row)

# Mostrar las tablas en la base de datos
print("Tablas en la base de datos:")
execute_query("SELECT name FROM sqlite_master WHERE type='table';")

# Mostrar las primeras 10 filas de la tabla 'crime_scene_report'
print("\nPrimeras 10 filas de la tabla 'crime_scene_report':")
execute_query("SELECT * FROM crime_scene_report LIMIT 10;")

# Cerrar la conexión
conn.close()

Tablas en la base de datos:

Primeras 10 filas de la tabla 'crime_scene_report':

OperationalError: no such table: crime_scene_report