# NORTHWIND DATABASE

El **objetivo** de este ejercicio es generar una serie de consultas SQL que permitan extraer información relevante de la base de datos y luego exportar los resultados para construir dashboards o visualizaciones que proporcionen insights valiosos para la toma de decisiones empresariales.

La base de datos Northwind es una base de datos de ejemplo clásica que simula las operaciones de una empresa minorista. Contiene tablas relacionales que representan diferentes aspectos del negocio, como productos, clientes, pedidos y empleados. Utilizando consultas SQL, podrás explorar y analizar estos datos para comprender mejor el desempeño del negocio en diferentes áreas.

Una vez que hayas realizado las consultas SQL y obtenido los resultados, podrás utilizarlos para herramientas de visualización de datos como Tableau, Power BI, Streamlit o cualquier otra herramienta de tu elección.

![img](./img/northwind-er-diagram.png)

Tendrás que elegir uno de los retos a resolver:

### **1. Análisis de Ventas por Región**
Analiza las ventas de productos por región. El objetivo es identificar las regiones que generan más ingresos y las tendencias de ventas a lo largo del tiempo en esas regiones. 
Pista: Utiliza gráficos de barras y líneas para mostrar la evolución de las ventas, así como mapas geográficos para visualizar la distribución de ingresos por región.

In [8]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('./data/northwind.db')

In [9]:
tables_query = "SELECT name FROM sqlite_master WHERE type='table';"
tables = pd.read_sql_query(tables_query, conn)
print(tables)

                    name
0             Categories
1        sqlite_sequence
2   CustomerCustomerDemo
3   CustomerDemographics
4              Customers
5              Employees
6    EmployeeTerritories
7          Order Details
8                 Orders
9               Products
10               Regions
11              Shippers
12             Suppliers
13           Territories

In [10]:
def get_table_schema(table_name):
    schema_query = f"PRAGMA table_info({table_name});"
    schema = pd.read_sql_query(schema_query, conn)
    return schema

orders_schema = get_table_schema('Orders')
print(orders_schema)

    cid            name      type  notnull dflt_value  pk
0     0         OrderID   INTEGER        1       None   1
1     1      CustomerID      TEXT        0       None   0
2     2      EmployeeID   INTEGER        0       None   0
3     3       OrderDate  DATETIME        0       None   0
4     4    RequiredDate  DATETIME        0       None   0
5     5     ShippedDate  DATETIME        0       None   0
6     6         ShipVia   INTEGER        0       None   0
7     7         Freight   NUMERIC        0          0   0
8     8        ShipName      TEXT        0       None   0
9     9     ShipAddress      TEXT        0       None   0
10   10        ShipCity      TEXT        0       None   0
11   11      ShipRegion      TEXT        0       None   0
12   12  ShipPostalCode      TEXT        0       None   0
13   13     ShipCountry      TEXT        0       None   0

In [14]:
def get_table_content(table_name):
    content_query = f"SELECT * FROM {table_name};"
    content_table = pd.read_sql_query(content_query, conn)
    return content_table

for table in tables['name']:
    print(f"\nContenido de la tabla '{table}':")
    content_db = get_table_content(table)
    print(content_db)

Contenido de la tabla 'Categories':
   CategoryID    CategoryName  \
0           1       Beverages
1           2      Condiments
2           3     Confections
3           4  Dairy Products
4           5  Grains/Cereals
5           6    Meat/Poultry
6           7         Produce
7           8         Seafood

                                         Description  \
0        Soft drinks, coffees, teas, beers, and ales
1  Sweet and savory sauces, relishes, spreads, an...
2                Desserts, candies, and sweet breads
3                                            Cheeses
4                Breads, crackers, pasta, and cereal
5                                     Prepared meats
6                          Dried fruit and bean curd
7                                   Seaweed and fish

                                             Picture
0  b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x02\x00...
1  b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x02\x00...
2  b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x02\x00...
3  b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x02\x00...
4  b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x02\x00...
5  b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x02\x00...
6  b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x02\x00...
7  b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x02\x00...

Contenido de la tabla 'sqlite_sequence':
         name    seq
0  Categories      8
1   Employees      9
2      Orders  26529
3    Products     77
4    Shippers      3
5   Suppliers     29

Contenido de la tabla 'CustomerCustomerDemo':
Empty DataFrame
Columns: [CustomerID, CustomerTypeID]
Index: []

Contenido de la tabla 'CustomerDemographics':
Empty DataFrame
Columns: [CustomerTypeID, CustomerDesc]
Index: []

Contenido de la tabla 'Customers':
   CustomerID                         CompanyName              ContactName  \
0       ALFKI                 Alfreds Futterkiste             Maria Anders
1       ANATR  Ana Trujillo Emparedados y helados             Ana Trujillo
2       ANTON             Antonio Moreno Taquería           Antonio Moreno
3       AROUT                     Around the Horn             Thomas Hardy
4       BERGS                  Berglunds snabbköp       Christina Berglund
..        ...                                 ...                      ...
88      WARTH                      Wartian Herkku         Pirkko Koskitalo
89      WELLI              Wellington Importadora            Paula Parente
90      WHITC                White Clover Markets           Karl Jablonski
91      WILMK                         Wilman Kala          Matti Karttunen
92      WOLZA                      Wolski  Zajazd  Zbyszek Piestrzeniewicz

                 ContactTitle                        Address         City  \
0        Sales Representative                  Obere Str. 57       Berlin
1                       Owner  Avda. de la Constitución 2222  México D.F.
2                       Owner                Mataderos  2312  México D.F.
3        Sales Representative                120 Hanover Sq.       London
4         Order Administrator                Berguvsvägen  8        Luleå
..                        ...                            ...          ...
88         Accounting Manager                    Torikatu 38         Oulu
89              Sales Manager             Rua do Mercado, 12      Resende
90                      Owner    305 - 14th Ave. S. Suite 3B      Seattle
91  Owner/Marketing Assistant                  Keskuskatu 45     Helsinki
92                      Owner                ul. Filtrowa 68     Warszawa

             Region PostalCode  Country           Phone             Fax
0    Western Europe      12209  Germany     030-0074321     030-0076545
1   Central America      05021   Mexico    (5) 555-4729    (5) 555-3745
2   Central America      05023   Mexico    (5) 555-3932            None
3     British Isles    WA1 1DP       UK  (171) 555-7788  (171) 555-6750
4   Northern Europe   S-958 22   Sweden   0921-12 34 65   0921-12 34 67
..              ...        ...      ...             ...             ...
88      Scandinavia      90110  Finland      981-443655      981-443655
89    South America  08737-363   Brazil   (14) 555-8122            None
90    North America      98128      USA  (206) 555-4112  (206) 555-4115
91      Scandinavia      21240  Finland     90-224 8858     90-224 8858
92   Eastern Europe     01-012   Poland   (26) 642-7012   (26) 642-7012

[93 rows x 11 columns]

Contenido de la tabla 'Employees':
   EmployeeID   LastName FirstName                     Title TitleOfCourtesy  \
0           1    Davolio     Nancy      Sales Representative             Ms.
1           2     Fuller    Andrew     Vice President, Sales             Dr.
2           3  Leverling     Janet      Sales Representative             Ms.
3           4    Peacock  Margaret      Sales Representative            Mrs.
4           5   Buchanan    Steven             Sales Manager             Mr.
5           6     Suyama   Michael      Sales Representative             Mr.
6           7       King    Robert      Sales Representative             Mr.
7           8   Callahan     Laura  Inside Sales Coordinator             Ms.
8           9  Dodsworth      Anne      Sales Representative             Ms.

    BirthDate    HireDate                         Address      City  \
0  1968-12-08  2012-05-01       507 - 20th Ave. E.Apt. 2A   Seattle
1  1972-02-19  2012-08-14              908 W. Capital Way    Tacoma
2  1983-08-30  2012-04-01              722 Moss Bay Blvd.  Kirkland
3  1957-09-19  2013-05-03            4110 Old Redmond Rd.   Redmond
4  1975-03-04  2013-10-17                 14 Garrett Hill    London
5  1983-07-02  2013-10-17       Coventry House\nMiner Rd.    London
6  1980-05-29  2014-01-02  Edgeham Hollow\nWinchester Way    London
7  1978-01-09  2014-03-05           4726 - 11th Ave. N.E.   Seattle
8  1986-01-27  2014-11-15               7 Houndstooth Rd.    London

          Region PostalCode Country       HomePhone Extension  \
0  North America      98122     USA  (206) 555-9857      5467
1  North America      98401     USA  (206) 555-9482      3457
2  North America      98033     USA  (206) 555-3412      3355
3  North America      98052     USA  (206) 555-8122      5176
4  British Isles    SW1 8JR      UK   (71) 555-4848      3453
5  British Isles    EC2 7JR      UK   (71) 555-7773       428
6  British Isles    RG1 9SP      UK   (71) 555-5598       465
7  North America      98105     USA  (206) 555-1189      2344
8  British Isles    WG2 7LT      UK   (71) 555-4444       452

                                               Photo  \
0  b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x02\x00...
1  b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x02\x00...
2  b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x02\x00...
3  b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x02\x00...
4  b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x02\x00...
5  b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x02\x00...
6  b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x02\x00...
7  b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x02\x00...
8  b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x02\x00...

                                               Notes  ReportsTo  \
0  Education includes a BA in psychology from Col...        2.0
1  Andrew received his BTS commercial in 1974 and...        NaN
2  Janet has a BS degree in chemistry from Boston...        2.0
3  Margaret holds a BA in English literature from...        2.0
4  Steven Buchanan graduated from St. Andrews Uni...        2.0
5  Michael is a graduate of Sussex University (MA...        5.0
6  Robert King served in the Peace Corps and trav...        5.0
7  Laura received a BA in psychology from the Uni...        2.0
8  Anne has a BA degree in English from St. Lawre...        5.0

                                PhotoPath
0    http://accweb/emmployees/davolio.bmp
1     http://accweb/emmployees/fuller.bmp
2  http://accweb/emmployees/leverling.bmp
3    http://accweb/emmployees/peacock.bmp
4   http://accweb/emmployees/buchanan.bmp
5    http://accweb/emmployees/davolio.bmp
6    http://accweb/emmployees/davolio.bmp
7    http://accweb/emmployees/davolio.bmp
8    http://accweb/emmployees/davolio.bmp

Contenido de la tabla 'EmployeeTerritories':
    EmployeeID TerritoryID
0            1       06897
1            1       19713
2            2       01581
3            2       01730
4            2       01833
5            2       02116
6            2       02139
7            2       02184
8            2       40222
9            3       30346
10           3       31406
11           3       32859
12           3       33607
13           4       20852
14           4       27403
15           4       27511
16           5       02903
17           5       07960
18           5       08837
19           5       10019
20           5       10038
21           5       11747
22           5       14450
23           6       85014
24           6       85251
25           6       98004
26           6       98052
27           6       98104
28           7       60179
29           7       60601
30           7       80202
31           7       80909
32           7       90405
33           7       94025
34           7       94105
35           7       95008
36           7       95054
37           7       95060
38           8       19428
39           8       44122
40           8       45839
41           8       53404
42           9       03049
43           9       03801
44           9       48075
45           9       48084
46           9       48304
47           9       55113
48           9       55439

Contenido de la tabla 'Order Details':

DatabaseError: Execution failed on sql 'SELECT * FROM Order Details;': near "Order": syntax error

In [11]:
def get_table_preview(table_name, limit=5):
    preview_query = f"SELECT * FROM {table_name} LIMIT {limit};"
    preview = pd.read_sql_query(preview_query, conn)
    return preview

orders_preview = get_table_preview('Orders')
print(orders_preview)

   OrderID CustomerID  EmployeeID   OrderDate RequiredDate ShippedDate  \
0    10248      VINET           5  2016-07-04   2016-08-01  2016-07-16
1    10249      TOMSP           6  2016-07-05   2016-08-16  2016-07-10
2    10250      HANAR           4  2016-07-08   2016-08-05  2016-07-12
3    10251      VICTE           3  2016-07-08   2016-08-05  2016-07-15
4    10252      SUPRD           4  2016-07-09   2016-08-06  2016-07-11

   ShipVia  Freight                   ShipName           ShipAddress  \
0        3    16.75  Vins et alcools Chevalier    59 rue de l-Abbaye
1        1    22.25         Toms Spezialitäten         Luisenstr. 48
2        2    25.00              Hanari Carnes       Rua do Paço, 67
3        1    20.25       Victuailles en stock    2, rue du Commerce
4        2    36.25           Suprêmes délices  Boulevard Tirou, 255

         ShipCity      ShipRegion ShipPostalCode ShipCountry
0           Reims  Western Europe          51100      France
1         Münster  Western Europe          44087     Germany
2  Rio de Janeiro   South America      05454-876      Brazil
3            Lyon  Western Europe          69004      France
4       Charleroi  Western Europe         B-6000     Belgium

In [15]:
query = '''
SELECT region
FROM customers
'''

In [7]:
df = pd.read_sql_query(query, conn)

df

             Region
0    Western Europe
1   Central America
2   Central America
3     British Isles
4   Northern Europe
..              ...
88      Scandinavia
89    South America
90    North America
91      Scandinavia
92   Eastern Europe

[93 rows x 1 columns]

### **2. Análisis de Desempeño de Productos**
Analiza el desempeño de los productos de la empresa. Examina las ventas de productos por categoría, identificando los productos más vendidos y los menos vendidos. 

Pista: Utiliza gráficos de barras y de tarta para visualizar la participación de mercado de cada categoría y los ingresos generados por los productos individuales.

### **3. Análisis de Rentabilidad de Clientes**
Analiza la rentabilidad de los clientes de la empresa. Examina los ingresos generados por cada cliente, así como los costos asociados con el servicio o producto proporcionado. 

Pista: Utiliza gráficos de dispersión y tablas dinámicas para identificar los clientes más rentables y aquellos que requieren mayor atención.

### **4. Análisis de Inventarios y Proveedores**
Analiza los niveles de inventario y la gestión de proveedores de la empresa. Examina el inventario disponible por categoría de productos, así como el rendimiento de los proveedores en términos de puntualidad de entrega y calidad de los productos. 

Pista: Utiliza gráficos de líneas y tablas dinámicas para mostrar tendencias y comparar el desempeño de los proveedores.


### **5. Análisis de Comportamiento de Empleados**
Analiza el comportamiento de los empleados de la empresa. Examina las ventas realizadas por cada empleado, así como su eficiencia en el manejo de pedidos y su puntualidad en la entrega de productos. 

Pista: Utiliza gráficos de barra y de dispersión para comparar el desempeño de los empleados y identificar áreas de mejora.