Importamos las librerías Pandas y Numpy

# Chipotle

Nos han contactado para hacer un análisis de la cadena de restaurantes Chipotle y entender mejor posibles puntos de mejora... Por ahora solo nos pasan una muestra de los datos [aquí](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv). ¿Somos capaces de explorarlos para ver de qué se trata? Qué tipo de información hay, está completa, podemos pedirles que nos la manden de otro modo, que nos informen de algún campo más, etc...

In [48]:
%pip install pandas numpy

import pandas as pd
import numpy as np

Requirement already satisfied: pandas in c:\users\diego gerwig\appdata\local\programs\python\python312\lib\site-packages (2.2.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy in c:\users\diego gerwig\appdata\local\programs\python\python312\lib\site-packages (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\diego gerwig\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\diego gerwig\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\diego gerwig\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\diego gerwig\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

### Step 2. Tomaremos el fichero en [esta URL](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) y lo leeremos como un dataframe.

Pista: [read_csv](https://numpy.org/doc/stable/user/absolute_beginners.html#importing-and-exporting-a-csv)

In [49]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

df = pd.read_csv(url, sep='\t')

print(df.head())

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98

### Step 3. Veamos los tipos de datos. ¿Podríamos obtener el producto de mayor precio?

In [50]:
print(df.dtypes)

highest_priced_product = df.loc[df['item_price'].idxmax()]

print("\nProduct with the highest price:")
print(highest_priced_product)

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

Product with the highest price:
order_id                                        250
quantity                                          1
item_name                          Steak Salad Bowl
choice_description    [Fresh Tomato Salsa, Lettuce]
item_price                                   $9.39
Name: 607, dtype: object

### Step 4. ¿Qué productos cuestan más de $10?

In [60]:
df['item_price'] = df['item_price'].astype(str).str.replace('$', '')

df['item_price'] = pd.to_numeric(df['item_price'])

expensive_products = df[df['item_price'] > 10]

print("Products that cost more than $10:")
print(expensive_products[['item_name', 'item_price']])

Products that cost more than $10:
               item_name  item_price
4           Chicken Bowl       16.98
5           Chicken Bowl       10.98
7          Steak Burrito       11.75
13          Chicken Bowl       11.25
23       Chicken Burrito       10.98
...                  ...         ...
4610       Steak Burrito       11.75
4611      Veggie Burrito       11.25
4617       Steak Burrito       11.75
4618       Steak Burrito       11.75
4619  Chicken Salad Bowl       11.25

[1130 rows x 2 columns]

### Step 4.1: ¿Y cuántos pedidos se han hecho con un producto de más de 10$? ¿Es lo mismo?

In [62]:
orders_with_expensive_products = df[df['item_price'] > 10]['order_id'].nunique()

print("Number of orders made with a product that costs more than $10:", orders_with_expensive_products)

Number of orders made with a product that costs more than $10: 863

### Step 4.2: ¿Y cuántos pedidos se han hecho de más de 10$? ¿Es lo mismo?

In [53]:
total_per_order = df.groupby('order_id')['item_price'].sum()

num_orders_total_over_10 = (total_per_order > 10).sum()

print("Number of orders with a total of more than $10:", num_orders_total_over_10)

Number of orders with a total of more than $10: 1834

### Step 4.3: ¿Y en cuántos pedidos se ha pagado más de 10$ por un mismo producto? ¿Es lo mismo?

In [54]:
total_per_product = df.groupby('item_name')['item_price'].sum()

expensive_products = total_per_product[total_per_product > 10]

num_products_over_10 = len(expensive_products)

print("Number of products that have been paid more than $10 for the same product:", num_products_over_10)

Number of products that have been paid more than $10 for the same product: 47

### Step 5. ¿Qué precio tiene cada producto en distintos pedidos? ¿Hay productos con varios precios?

In [55]:
prices_per_product = df.groupby('item_name')['item_price'].unique()

print("Prices per product:")
print(prices_per_product)

Prices per product:
item_name
6 Pack Soft Drink                                                            [6.49, 12.98]
Barbacoa Bowl                                      [11.75, 9.25, 8.99, 11.48, 8.69, 11.49]
Barbacoa Burrito                                   [8.99, 9.25, 11.75, 11.08, 8.69, 11.48]
Barbacoa Crispy Tacos                                     [11.75, 9.25, 11.48, 8.99, 18.5]
Barbacoa Salad Bowl                                                          [11.89, 9.39]
Barbacoa Soft Tacos                                             [9.25, 8.99, 11.75, 11.48]
Bottled Water                            [1.09, 1.5, 3.0, 3.27, 2.18, 6.0, 7.5, 4.5, 10...
Bowl                                                                           [22.2, 7.4]
Burrito                                                                              [7.4]
Canned Soda                                                             [2.18, 1.09, 4.36]
Canned Soft Drink                                                   [1.25, 2.5, 3.75, 5.0]
Carnitas Bowl                               [8.99, 11.75, 9.25, 11.48, 23.5, 11.08, 35.25]
Carnitas Burrito                             [8.99, 9.25, 11.75, 11.48, 18.5, 11.08, 8.69]
Carnitas Crispy Tacos                                           [9.25, 11.75, 8.99, 17.98]
Carnitas Salad                                                                      [8.99]
Carnitas Salad Bowl                                                          [11.89, 9.39]
Carnitas Soft Tacos                                                    [9.25, 8.99, 11.75]
Chicken Bowl                             [16.98, 10.98, 11.25, 8.75, 8.49, 17.5, 32.94,...
Chicken Burrito                          [8.49, 10.98, 8.75, 17.5, 11.25, 10.58, 8.19, ...
Chicken Crispy Tacos                               [8.75, 17.5, 11.25, 8.49, 10.98, 16.98]
Chicken Salad                                                          [10.98, 8.49, 8.19]
Chicken Salad Bowl                                               [8.75, 22.5, 17.5, 11.25]
Chicken Soft Tacos                          [8.75, 11.25, 8.49, 17.5, 10.98, 16.98, 21.96]
Chips                                                              [2.15, 4.3, 6.45, 1.99]
Chips and Fresh Tomato Salsa                          [2.39, 2.95, 2.29, 11.8, 5.9, 44.25]
Chips and Guacamole                      [4.45, 3.99, 4.0, 8.9, 3.89, 13.35, 7.98, 8.5,...
Chips and Mild Fresh Tomato Salsa                                                    [3.0]
Chips and Roasted Chili Corn Salsa                                             [2.95, 5.9]
Chips and Roasted Chili-Corn Salsa                                                  [2.39]
Chips and Tomatillo Green Chili Salsa                                          [2.95, 5.9]
Chips and Tomatillo Red Chili Salsa                                            [2.95, 5.9]
Chips and Tomatillo-Green Chili Salsa                                         [2.39, 4.78]
Chips and Tomatillo-Red Chili Salsa                                     [2.39, 4.78, 7.17]
Crispy Tacos                                                                         [7.4]
Izze                                                                                [3.39]
Nantucket Nectar                                                              [3.39, 6.78]
Salad                                                                                [7.4]
Side of Chips                                                          [1.69, 5.07, 13.52]
Steak Bowl                               [8.99, 11.75, 11.48, 9.25, 11.08, 17.98, 8.69,...
Steak Burrito                            [11.75, 9.25, 8.99, 11.48, 17.98, 11.08, 22.16...
Steak Crispy Tacos                                        [9.25, 8.99, 8.69, 11.75, 17.98]
Steak Salad                                                                   [8.99, 8.69]
Steak Salad Bowl                                                      [23.78, 11.89, 9.39]
Steak Soft Tacos                                          [9.25, 8.99, 11.75, 11.48, 18.5]
Veggie Bowl                                              [11.25, 8.49, 8.75, 16.98, 10.98]
Veggie Burrito                                           [11.25, 8.49, 10.98, 8.75, 33.75]
Veggie Crispy Tacos                                                                 [8.49]
Veggie Salad                                                                        [8.49]
Veggie Salad Bowl                                                            [11.25, 8.75]
Veggie Soft Tacos                                               [11.25, 8.75, 8.49, 16.98]
Name: item_price, dtype: object

### Step 6. Ordena el dataframe en base al nombre de producto (item name)

In [56]:
df_sorted = df.sort_values(by='item_name')

print("Sorted DataFrame based on item name:")
print(df_sorted)

Sorted DataFrame based on item name:
      order_id  quantity          item_name  \
3389      1360         2  6 Pack Soft Drink
341        148         1  6 Pack Soft Drink
1849       749         1  6 Pack Soft Drink
1860       754         1  6 Pack Soft Drink
2713      1076         1  6 Pack Soft Drink
...        ...       ...                ...
2384       948         1  Veggie Soft Tacos
781        322         1  Veggie Soft Tacos
2851      1132         1  Veggie Soft Tacos
1699       688         1  Veggie Soft Tacos
1395       567         1  Veggie Soft Tacos

                                     choice_description  item_price
3389                                        [Diet Coke]       12.98
341                                         [Diet Coke]        6.49
1849                                             [Coke]        6.49
1860                                        [Diet Coke]        6.49
2713                                             [Coke]        6.49
...                                                 ...         ...
2384  [Roasted Chili Corn Salsa, [Fajita Vegetables,...        8.75
781   [Fresh Tomato Salsa, [Black Beans, Cheese, Sou...        8.75
2851  [Roasted Chili Corn Salsa (Medium), [Black Bea...        8.49
1699  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...       11.25
1395  [Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...        8.49

[4622 rows x 5 columns]

### Step 7. ¿Cuantas veces se ha pedido los productos más caros?

In [57]:
most_expensive_products = df[df['item_price'] == df['item_price'].max()]

num_orders_most_expensive = most_expensive_products['quantity'].sum()

print("Number of times the most expensive products have been ordered:", num_orders_most_expensive)

Number of times the most expensive products have been ordered: 15

### Step 8. Veamos para el caso de Veggie Salad Bowl. Extrae esa información.

In [58]:
veggie_salad_bowl_info = df[df['item_name'] == 'Veggie Salad Bowl']

print("Information for Veggie Salad Bowl:")
print(veggie_salad_bowl_info)

Information for Veggie Salad Bowl:
      order_id  quantity          item_name  \
186         83         1  Veggie Salad Bowl
295        128         1  Veggie Salad Bowl
455        195         1  Veggie Salad Bowl
496        207         1  Veggie Salad Bowl
960        394         1  Veggie Salad Bowl
1316       536         1  Veggie Salad Bowl
1884       760         1  Veggie Salad Bowl
2156       869         1  Veggie Salad Bowl
2223       896         1  Veggie Salad Bowl
2269       913         1  Veggie Salad Bowl
2683      1066         1  Veggie Salad Bowl
3223      1289         1  Veggie Salad Bowl
3293      1321         1  Veggie Salad Bowl
4109      1646         1  Veggie Salad Bowl
4201      1677         1  Veggie Salad Bowl
4261      1700         1  Veggie Salad Bowl
4541      1805         1  Veggie Salad Bowl
4573      1818         1  Veggie Salad Bowl

                                     choice_description  item_price
186   [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...       11.25
295   [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...       11.25
455   [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...       11.25
496   [Fresh Tomato Salsa, [Rice, Lettuce, Guacamole...       11.25
960   [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...        8.75
1316  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...        8.75
1884  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...       11.25
2156  [Tomatillo Red Chili Salsa, [Fajita Vegetables...       11.25
2223      [Roasted Chili Corn Salsa, Fajita Vegetables]        8.75
2269  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...        8.75
2683  [Roasted Chili Corn Salsa, [Fajita Vegetables,...        8.75
3223  [Tomatillo Red Chili Salsa, [Fajita Vegetables...       11.25
3293  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...        8.75
4109  [Tomatillo Red Chili Salsa, [Fajita Vegetables...       11.25
4201  [Fresh Tomato Salsa, [Fajita Vegetables, Black...       11.25
4261  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...       11.25
4541  [Tomatillo Green Chili Salsa, [Fajita Vegetabl...        8.75
4573  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...        8.75