# Fictional Army - Filtrando y ordenando

Importamos las librerías necesarias

In [ ]:
import pandas as pd

### Step 1. Cread un dataframe con la información de abajo

In [10]:
# Datos de nuestra armada
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'],
            'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'],
            'deaths': [523, 52, 25, 616, 43, 234, 523, 62, None, 73, 37, 35],
            'battles': [5, 42, 2, 2, 4, 7, 8, 3, 4, 7, 8, 9],
            'size': [1045, 957, 1099, 1400, 1592, 1006, 987, 849, 973, 1005, 1099, 1523],
            'veterans': [1, 5, 62, 26, 73, 37, 949, 48, 48, 435, 63, 345],
            'readiness': [1, None, 3, None, 2, None, 2, None, None, 1, 2, None],
            'armored': [1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1],
            'deserters': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
            'origin': ['Arizona', 'California', 'Texas', 'Florida', 'Maine', 'Iowa', 'Alaska', 'Washington', 'Oregon', 'Wyoming', 'Louisana', 'Georgia']}

df = pd.DataFrame(raw_data)

df.info()

df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   regiment   12 non-null     object
 1   company    12 non-null     object
 2   deaths     11 non-null     float64
 3   battles    12 non-null     int64
 4   size       12 non-null     int64
 5   veterans   12 non-null     int64
 6   readiness  6 non-null      float64
 7   armored    12 non-null     int64
 8   deserters  12 non-null     int64
 9   origin     12 non-null     object
dtypes: float64(2), int64(5), object(3)
memory usage: 1.1+ KB

,regiment,company,deaths,battles,size,veterans,readiness,armored,deserters,origin
0,Nighthawks,1st,523.0,5,1045,1,1.0,1,4,Arizona
1,Nighthawks,1st,52.0,42,957,5,NaN,0,24,California
2,Nighthawks,2nd,25.0,2,1099,62,3.0,1,31,Texas
3,Nighthawks,2nd,616.0,2,1400,26,NaN,1,2,Florida
4,Dragoons,1st,43.0,4,1592,73,2.0,0,3,Maine
5,Dragoons,1st,234.0,7,1006,37,NaN,1,4,Iowa
6,Dragoons,2nd,523.0,8,987,949,2.0,0,24,Alaska
7,Dragoons,2nd,62.0,3,849,48,NaN,1,31,Washington
8,Scouts,1st,NaN,4,973,48,NaN,0,2,Oregon
9,Scouts,1st,73.0,7,1005,435,1.0,0,3,Wyoming
10,Scouts,2nd,37.0,8,1099,63,2.0,1,2,Louisana
11,Scouts,2nd,35.0,9,1523,345,NaN,1,3,Georgia

### Step 2. Buscad valores faltantes

In [14]:
df_missing_values = df.isnull()

print("Valores faltantes en todo el DataFrame:")
print(df_missing_values)

# Contar valores faltantes en cada columna
df_missing_in_columns = df.isnull().sum()
print("\nValores faltantes en cada columna:")
df_missing_in_columns

Valores faltantes en todo el DataFrame:
    regiment  company  deaths  battles   size  veterans  readiness  armored  \
0      False    False   False    False  False     False      False    False
1      False    False   False    False  False     False       True    False
2      False    False   False    False  False     False      False    False
3      False    False   False    False  False     False       True    False
4      False    False   False    False  False     False      False    False
5      False    False   False    False  False     False       True    False
6      False    False   False    False  False     False      False    False
7      False    False   False    False  False     False       True    False
8      False    False    True    False  False     False       True    False
9      False    False   False    False  False     False      False    False
10     False    False   False    False  False     False      False    False
11     False    False   False    False  False     False       True    False

    deserters  origin
0       False   False
1       False   False
2       False   False
3       False   False
4       False   False
5       False   False
6       False   False
7       False   False
8       False   False
9       False   False
10      False   False
11      False   False

Valores faltantes en cada columna:

regiment     0
company      0
deaths       1
battles      0
size         0
veterans     0
readiness    6
armored      0
deserters    0
origin       0
dtype: int64

### Step 3. Eliminaremos aquellos que superen un umbral de 30% de datos faltantes

In [18]:
# Calcular el umbral para el 30% de datos faltantes
umbral = int((1- 0.10) * len(df.columns))

# Eliminar filas con más del 30% de datos faltantes
df_filtered = df.dropna(thresh=umbral)

df_filtered

,regiment,company,deaths,battles,size,veterans,readiness,armored,deserters,origin
0,Nighthawks,1st,523.0,5,1045,1,1.0,1,4,Arizona
1,Nighthawks,1st,52.0,42,957,5,NaN,0,24,California
2,Nighthawks,2nd,25.0,2,1099,62,3.0,1,31,Texas
3,Nighthawks,2nd,616.0,2,1400,26,NaN,1,2,Florida
4,Dragoons,1st,43.0,4,1592,73,2.0,0,3,Maine
5,Dragoons,1st,234.0,7,1006,37,NaN,1,4,Iowa
6,Dragoons,2nd,523.0,8,987,949,2.0,0,24,Alaska
7,Dragoons,2nd,62.0,3,849,48,NaN,1,31,Washington
9,Scouts,1st,73.0,7,1005,435,1.0,0,3,Wyoming
10,Scouts,2nd,37.0,8,1099,63,2.0,1,2,Louisana
11,Scouts,2nd,35.0,9,1523,345,NaN,1,3,Georgia

### Step 4. Rellenad los datos faltantes con la media de la serie

In [17]:
df_filled = df.fillna(df.mean())

print(df_filled)

TypeError: Could not convert ['NighthawksNighthawksNighthawksNighthawksDragoonsDragoonsDragoonsDragoonsScoutsScoutsScoutsScouts'
 '1st1st2nd2nd1st1st2nd2nd1st1st2nd2nd'
 'ArizonaCaliforniaTexasFloridaMaineIowaAlaskaWashingtonOregonWyomingLouisanaGeorgia'] to numeric

### Step 5. Marcad como índice la columna `origin`

### Step 6. Elegid 'deaths', 'size' y 'deserters' de las filas de Maine y Alaska

### Step 7. Obtened los datos de las filas 3 a 7 y columnas 3 a 6

### Step 8. Mostrad los datos de la 4 fila en adelante

### Step 9. Mostrad los datos hasta la cuarta fila

### Step 10. Mostrad solo las columnas de la 3 a la 7

### Step 11. Buscad las filas con más de 50 muertes informadas

### Step 12. Mostrad las filas con muertes comprendidas entre 50 y 500

### Step 13. Buscad regimientos que no se llamen "Dragoons"

### Step 14. Buscad la información relativa a los origenes Texas y Arizona